#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CPUTEST
	bool "\"CPU On and Off test\" example"
	default n
	---help---
		Enable the \"CPU On and Off test\" example

config USER_ENTRYPOINT
	string
	default "cputest_main" if ENTRY_CPUTEST
